/* lesson1 */

/* 1 */
:root{
  background: white;
}

/* 2 */
* {
  color: black;
}

/* 3 */
h1{
  background: blue;
}

/* 4 */
.green{
  color: green;
}

/* 5 */
#blue{
  color: blue;
}

/* 6 */
.box{
  background: green;
}

.box > p{
  background: red;
}

/* 7 */
.brown{
  background: rgb(128, 0, 0);
  color: white;
}

/* 8 */
ul>li{
  background: red;
}

/* 9 */
.header-button+span{
  background: red;
}

/* 10 */
.susid~p{
  background: blue;
}

/* 11 */
.salo, #bread{
  background: yellow;
}


/* lesson2 */
/* 1 */
.first-task>ul>li:first-child{
  color: white;
}

/* 2 */
.second-task > ul:first-child > li:first-child{
  color: yellow;
}

/* 3 */
.third-task > ul:nth-child(2) > li:first-child{
  background: yellow;
}

/* 4 */
.four-task > ul > li:last-child{
  background: yellow;
}

/* 5 */
.five-task > ul:last-child > li:last-child{
  background: yellow;
}

/* 6 */
/* чумусь конструкція section >> div:only-child не працює :( */
section div:only-child{
  color: red;
}

/* 7 */
.seven-task > p:first-of-type{
  background: red;
}

/* 8 */
.eight-task > p:last-of-type{
  background: red;
}

/* 9 */
.nine-task p:only-of-type{
  background: yellow;
}


/* lesson3 */
/* 1 */
.lesson-three-task-one a[href]{
  color: white;
}

/* 2 */
.lesson-three-task-two *[value]{
  color: yellow;
}

/* 3 */
.lesson-three-task-three *[value='3']{
  background: red;
}

/* 4 */
/* чим моя реалізація відрізняється від тої що в коменті? і так і так працює  */
/* .lesson-three-task-four button[class~='primary']{   */
.lesson-three-task-four button.primary{
  background: blue;
}

/* 5 */
.lesson-three-task-five button[class|='secondary']{
  background: red;
}

/* 6 */
.lesson-three-task-six li[class^='b']{
  background: white;
  color: green;
}

/* 7 */
.lesson-three-task-seven li[class*='on']{
  background: white;
  color: green;
}

/* 8 */
.lesson-three-task-eight span[class$='s']{
  background: white;
  color: blue;
}

/* 9 */
.lesson-three-task-nine h2::first-letter{
  color: black;
}

/* 10 */
.lesson-three-task-ten p::first-line {
  background: yellow;
}

/* 11 */
.lesson-three-task-eleven input::placeholder {
  background: red;
}

/* 12 */
.lesson-three-task-twelve li::before {
  content:"➤"
}

/* 13 */
.lesson-three-task-thirteen li::after {
  content:"➤"
}